@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); /* Roboto Mono - Used for headings */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); /* Tajawal - Used for body text */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


ul{
  list-style-type:none;
}

li{
  list-style-type:none;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-tajawal {
  font-family: 'Tajawal', sans-serif;
}

.font-inter {
  font-family: 'Inter', sans-serif; 
}
  
.navlink {
  @apply text-white text-xl
}

/* temporary css for timeline */
.slider-container {
  padding: 40px 0;
  max-width: 900px;
  margin: 0 auto;
}

.slick-slide {
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.slick-slide > div {

  padding: 30px 20px;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0.5;
}

.slick-center > div {
  transform: scale(1.2);
  opacity: 1;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}