@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap'); /* Roboto Mono - Used for headings */
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap'); /* Tajawal - Used for body text */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


ul{
  list-style-type:none;
}

li{
  list-style-type:none;
}

.font-roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

.font-tajawal {
  font-family: 'Tajawal', sans-serif;
}

.font-inter> {
  font-family: 'Inter', sans-serif; 
}
  
.navlink {
  @apply text-white text-xl
}
